@charset "UTF-8";

.submit2 {
  height: 45.5px;
  width: 210px;
  font-family: sans-serif;
  font-size: 90%;
  background: rgba(173, 192, 206, .3);
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
  border-right: 1px solid #ADC0CE;
  overflow: hidden;
  padding: 0;
  color: #29838C;
}	
.submit2:hover {background: #ADC0CE} 	

.a {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 15px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #F137A6 inset, 0 0 0 0 #F137A6;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: .15s ease-in-out;
}
.a:hover {
  box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
  color: #F137A6;
}
