@charset "UTF-8";
						    /* Свободные сотрудники выпадающим списком --> Начало */		    
.dropdown {
    float: left;
    overflow: hidden;
    z-index: 999999;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    z-index: 999999;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #f9f9f9;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999999;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 999999;
}

.dropdown-content a:hover {
    background-color: #ddd;
    z-index: 999999;
}

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 999999;
}

							/* Свободные сотрудники выпадающим списком --> Конец */